.btn-dark {
  background-color: var(--pokemon-primary);
  border-color: var(--pokemon-primary);

  &:hover,
  &:focus {
    background-color: var(--pokemon-primary-hover);
    border-color: var(--pokemon-primary-hover);
  }
}

.btn-outline-dark {
  color: var(--pokemon-primary);
  border-color: var(--pokemon-primary);

  &:hover,
  &:focus {
    background-color: var(--pokemon-primary);
    border-color: var(--pokemon-primary);
    color: #ffffff;
  }
}